<mat-card class="carteCustom">
  <mat-card-header>
    <mat-card-title> WENZEL Pierre</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle class="info">
      <mat-icon>email</mat-icon>
      <a
        href="mailto:pierre.wenzel@icloud.com"
        title="Send an email to"
        class="truncate"
      >pierre.wenzel@icloud.com</a
      >
    </mat-card-subtitle>
    <mat-card-subtitle class="info">
      <mat-icon>phone</mat-icon>
      <a href="tel:0684536604" title="Call">0684536604</a>
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>
